/* css styles */
.custom-background {
    background-color: #cce7f1; /* Light blue background */
    padding: 10px;
}

@font-face {
    font-family: 'NexusHeader'; /* Name your font here */
    src: url('Tondu-Beta.ttf') format('truetype'); /* Adjust the path */
}

@font-face {
    font-family: 'NexusBody'; 
    src: url('LinuxLibertine-RdWo.ttf') format('truetype'); 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'NexusHeader', sans-serif; /* Apply the font to headers */
}

body {
  font-family: 'NexusBody', sans-serif;
  background-image: url("../images/chapelHands.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.spacer {
  margin-top: 50px;
}

.spacer-big {
    margin-top: 250px; /* Adjust this value as needed */
}

.color1 {
  color: #cce7f1;
}

.color2 {
  color: #61c2a2;
}

.color3 {
  color: #1d617a;
}

.center-text {
    text-align: center;
}

.section1 {
    background-color: #1d617a;
    color: #cce7f1;
    padding: 20px;
    border-radius: 15px;
}

.section2 {
    background-color: #cce7f1;
    color: #1d617a;
    padding: 20px;
    border-radius: 15px;
}

.section3 {
    background-color: #ffffff;
    color: #61c2a2;
    padding: 20px;
    border-radius: 15px;
}

.section3-1 {
  background-color: #ffffff;
  color: #cce7f1;
  padding: 20px;
  border-radius: 15px;
}

.section3-2 {
  background-color: #ffffff;
  color: #1d617a;
  padding: 20px;
  border-radius: 15px;
}


.custom-button {
    background-color: #61c2a2; /* Green background */
    color: white;              /* White text */
    border: none;              /* No border */
    padding: 10px 20px;        /* Padding */
    text-align: center;        /* Center text */
    text-decoration: none;      /* No underline */
    display: inline-block;      /* Inline-block display */
    font-size: 16px;           /* Font size */
    margin: 4px 2px;          /* Margin */
    cursor: pointer;           /* Pointer cursor on hover */
    border-radius: 5px;        /* Rounded corners */
}

.custom-button:hover {
    background-color: #cce7f1; /* Darker green on hover */
}

.grid-container {
    display: grid;                     /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 20px;                         /* Space between columns */
}

.grid-column {
    text-align: center;                /* Center text and inline elements */
    border-radius: 4px;                /* Rounded corners */
}

.grid-column a {
    display: inline-block;              /* Enable margin and padding */
    margin-top: 10px;                  /* Space above the button */
}

.heading-box {
    background-color: #ffffff; /* Light blue background */
    border: 2px solid #1d617a; /* Border color */
    padding: 15px; /* Padding inside the box */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text */
}
